@media print {
  body {
    background-color: #fff;
  }

  body * {
    visibility: hidden;
  }

  #print-area,
  #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .a4-page-container {
    width: 210mm;
    height: 297mm;
    page-break-after: always;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .a5-sheet {
    width: 148mm;
    height: 210mm;
    box-shadow: none;
    border: 1px solid #ccc;
    transform: scale(1);
    margin: 0;
  }
  
  .a4-page-container .a5-sheet:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
  }

  .a4-page-container .a5-sheet:nth-child(2) {
    position: absolute;
    top: 0;
    left: 148mm;
  }

  .no-print {
    display: none !important;
  }
}
