@media print {
  body {
    background-color: #fff;
  }

  body * {
    visibility: hidden;
  }

  #print-area,
  #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .a4-page-container {
    width: 297mm;
    height: 210mm;
    page-break-after: always;
    display: block;
    position: relative;
    background: white !important;
  }

  .a5-container {
    width: 148mm;
    height: 210mm;
    box-shadow: none;
    border: 1px solid #ccc;
    transform: scale(1);
    margin: 0;
  }
  
  .a4-page-container .a5-container:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
  }

  .a4-page-container .a5-container:nth-child(2) {
    position: absolute;
    top: 0;
    left: 148.5mm; /* Adjusted for centering */
  }

  .no-print {
    display: none !important;
  }
}

/* Class to make sure html2canvas captures the element */
.is-capturing {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 297mm !important;
  height: 210mm !important;
  transform: none !important;
  margin: 0 !important;
  box-shadow: none !important;
  background-color: white !important;
}
